html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html,
  body {

    margin: 0;
    padding: 0;
  }

/**background**/
body{
    background-image:url(/photos/wall.jpg);
    background-attachment: fixed; 
    background-size:50%;
}

/**first panel**/
#topPanel{
   display: flex;
   height: 150px;
   width: auto;
   background-image: url(photos/pzRoAuA.jpg);
   justify-content: flex-start;
   position: sticky;
   top:0px; 
   box-shadow: 0 0 10px 5px rgb(44, 44, 44);
   gap: 5px;
}

/** top Logo**/

#logo{
    padding: 10px;
    height: 100%;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    transition: filter 0.3s ease;
}

#logo:hover{
    filter: drop-shadow(0 0 5px yellow);
}

/**top Searchbar**/
#search{
    height: 50px;
    font-size: 20px;
    width: 600px;
    margin: auto;
    color: yellow;
    background-color: rgb(10, 10, 10);
    border: 2px solid yellow;
    border-radius: 15px;
    flex-grow: 1;
}

#search::placeholder{
    color: yellow;
    text-align: center;
}

/**top rightside buttons**/
#charactersDropdown{
    width: 200px;
    flex-grow: 2;
}

#mediaDropdown{
    width: 200px;
    border-left: 2px solid yellow;
    flex-grow: 2;
}

#characterButton,
#mediaButton{
    font-size: 50px;
    display: flex;
    width: 100%;
    height: 100%;
    color: yellow;
    margin: 0;
    justify-content: center;
    align-items: center;
    border-right: 2px solid yellow;
}

#characterOptions,
#mediaOptions{
    display: none;
    position: absolute;
    background-color: black;
    width: 100%;
    z-index: 1;
}

#characterOptions a,
#mediaOptions a {
    color-scheme: yellow;
    display: block;
    text-decoration: none;
}

#charactersDropdown:hover #characterOptions,
#mediaDropdown:hover #mediaOptions{
    display: block;
    border-end-end-radius: 15px;
    border-end-start-radius: 15px;
    border: 2px solid yellow;
}

#characterButton:hover,
#mediaButton:hover {
    background-color: rgba(255, 247, 0, 0.522);
    transition: background-color .5s;
    color: black;
}

.dropdownCharacterOption,
.dropdownMediaOption{
    color: yellow;
    text-decoration:none;
    font-size: 30px;
    padding: 5px;
}

.dropdownCharacterOption:hover,
.dropdownMediaOption:hover{
    background-color: rgb(71, 71, 71);  
}

#charactersDropdown, #mediaDropdown {
    position: relative;
}

#characterOptions a:last-child,
#mediaOptions a:last-child {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

/**2nd panel**/
#MainContentContainer{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    background-color: black;

}

#profilePhoto{
    display: block;
    margin: auto;
    width: 500px;
    border-radius: 50px;
    border: 2px solid white;
}

#name{
    display: block;
    margin: auto;
    color: white;
    font-size: 70px;
    padding-top: 20px;
    text-align: center;
}

#infoContainer{
    background-color: rgb(161, 161, 161);
    border-radius: 15px;
}
/**Info Button Stuff**/
#infoButtons{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    box-shadow: 0 0 10px 5px rgba(5, 5, 5, 0.564);
}

#infoButtonOne,#infoButtonTwo,#infoButtonThree{
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: rgb(83, 83, 83);
    padding: 30px;
    min-height: 50px;
    max-width: 100%;
    border: 2px solid white;
    flex: 1;
    margin: 0;
}

#infoButtonTwo{
    background-color: rgb(57, 57, 57);
}

#infoButtonOne:hover,#infoButtonTwo:hover,#infoButtonThree:hover{
    background-color: rgb(57, 57, 57);
}

#infoButtonOne{
    border-top-left-radius: 10px;
}

#infoButtonThree{
    border-top-right-radius: 10px;
}

/**the actual info**/
#textAndPhoto{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/**text stuff**/
#infoTxt{
    display: flex;
    flex-direction: row;
    max-width: 66.7%;
}

/**Right side**/
#catagories{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid white;
}

#cat1,#cat2,#cat3,.Cats{
    font-size: 40px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    white-space: nowrap;
}

#cat1,#cat2,.Cats{
    border-bottom: 2px solid white;
}

/**left side**/
#answers{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bornAnswer,#homeWorldAnswer,.ans{
    font-size: 40px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    border-bottom: 2px solid white;
    white-space: nowrap;
}


.familyMember{
    font-size: 30px;
    padding: 10px;
}

/**photo side**/
#infoPhotoContainer{
width: 33%;
display: flex;
justify-content: center;
align-items: center;
}

#infoPic{
    display: flex;
    display: inline-block;
    max-width: 300px;
}

#adContainer{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

/**ad space**/
#ad{
    display: block;
    margin: auto;
    max-width: 100%;
    border-radius: 20px;
    border: 2px solid white;
}

/**bio panel stuff**/
#bioContainer {
    background: 
        linear-gradient(rgba(164, 164, 164, 0.5), rgba(164, 164, 164, 0.5)),
        url(photos/testBackground.jpg);
    background-size: cover;
    border-radius: 15px;
}

/**bio button stuff**/
#bioButtons{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    box-shadow: 0 0 10px 5px rgba(5, 5, 5, 0.564);
}

#bioButtonOne,#bioButtonTwo,#bioButtonThree{
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: rgb(83, 83, 83);
    padding: 30px;
    min-height: 50px;
    max-width: 100%;
    border: 2px solid white;
    flex: 1;
    margin: 0;
    white-space: nowrap;
}

#bioButtonOne:hover,#bioButtonTwo:hover,#bioButtonThree:hover{
    background-color: rgb(57, 57, 57);
}

#bioButtonOne{
    border-top-left-radius: 10px;
}

#bioButtonThree{
    border-top-right-radius: 10px;
}

/**bio dropdowns**/

#bioDropdown,#personalityDropdown,#btsContainer{
    width: 100%;
    height: 100%;
}

#bioOptions,
#personalityOptions{
    display: none;
    position: absolute;
    background-color: black;
    padding: 10px;
    z-index: 1;
}

#personalityOptions a,
#bioOptions a {
    color-scheme: yellow;
    display: block;
    text-decoration: none;
}

#bioDropdown:hover #bioOptions,
#personalityDropdown:hover #personalityOptions{
    display: block;
    border-end-end-radius: 15px;
    border-end-start-radius: 15px;
    border: 2px solid yellow;
}

#bioButton:hover,
#personalityButton:hover {
    background-color: rgba(255, 247, 0, 0.522);
    transition: background-color .5s;
    color: black;
}

.dropdownBioOptions,
.dropdownPersonalityOptions{
    color: yellow;
    text-decoration:none;
    font-size: 30px;
    padding: 5px;
}

.dropdownBioOptions:hover,
.dropdownPersonalityOptions:hover{
    background-color: rgb(71, 71, 71);  
}

#bioOptions a:last-child,
#personalityOptions a:last-child {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

/**bio Content Stuff**/
#mainBioContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bioTitle{
    padding-top: 10px;
    max-width: 50%;
    margin: 0;
    font-size: 50px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid rgb(0, 0, 0);
}

#bioPageSwitcherAndNumber{
    display: flex;
    margin: 0;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.PreviousPage,.nextPage{
    max-width: 70px;
    display: block;
}

#bioPageNumber{
    font-size: 30px;
}

#bioText{
    padding: 15px;
    text-align: center;

}

#bioText p{
    font-size: 25px;
    margin: 0;
    padding-bottom: 15px;
    font-weight: 700;

}

/**appearances**/
#appearancesPanel{
    background-color: rgb(161, 161, 161);
    margin-top: 50px;
    border-radius: 15px;
}

/**appearances buttons**/
#appearancesMentionOnlyButtons{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    box-shadow: 0 0 10px 5px rgba(5, 5, 5, 0.564);
}

#appearancesButton,#MentionedButton{
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: rgb(83, 83, 83);
    padding: 30px;
    min-height: 50px;
    max-width: 100%;
    border: 2px solid white;
    flex: 1;
    margin: 0;
}

#appearancesButton:hover,#MentionedButton:hover{
    background-color: rgb(57, 57, 57);
}

#appearancesButton{
    border-top-left-radius: 10px;
}

#MentionedButton{
    border-top-right-radius: 10px;
}

/**appearances nav page stuff**/
#appearancesNavigationContainer{
    display: flex;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#appearancePageNumber{
    font-size: 30px;
}

/**media posters stuff**/
#appearancesPostersContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0%;
    gap: 30px;
    padding: 30px;
    padding-top: 0%;
}

#posterOne,#posterTwo,#posterThree{
    width: 250px;
    height: 400px;
}

#posterOne:hover,#posterTwo:hover,#posterThree:hover{
    width: 300px;
    height: auto;
    box-shadow: 0 0 15px rgb(0, 0, 0);
    transition: ease 1s 0s;
}

@media (max-width:1500px){
    #search {
        width: 200px;
    }
    #topPanel{
        height: 100px;
    }

    #MainContentContainer{
        width: 100%;
    }

    #name{
        font-size: 30px;
    }

    #characterButton{
        font-size: 30px;
    }

    #mediaButton{
        font-size: 30px;
    }

    #infoButtonOne,#infoButtonTwo,#infoButtonThree{
        font-size: 20px;
        min-height: 50px;
        align-items: center;
    }

    #bioButtonOne,#bioButtonTwo,#bioButtonThree{
        font-size: 20px;
    }

    #bioContainer{
        background-position: center center;
    }

    #textAndPhoto{
        flex-direction: column;
    }

    #infoTxt{
        align-self: center;
    }

    #cat1,#cat2,#cat3,.Cats{
        font-size: 25px;
    }

    #bornAnswer,#homeWorldAnswer,.ans{
        font-size: 25px;
    }

    #infoPhotoContainer{
        align-self: center;
        padding: 20px;
    }

    #name{
        font-size: 70px;
    }
}

@media (max-width:600px){
    #topPanel{
        height: 100px;
    }

    #search{
        display: none;
    }

    #profilePhoto{
        width: 300px;
    }

    #characterButton,
    #mediaButton{
        font-size: 25px;
    }

    #infoContainer{
        width: 100%;
    }

    #infoButtonOne,#infoButtonTwo,#infoButtonThree{
        font-size: 15px;
        padding: 0px;
    }

    #cat1,#cat2,#cat3,.Cats{
        font-size: 15px;
        padding: 0%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #bornAnswer,#homeWorldAnswer,.ans{
        font-size: 15px;
        padding: 0%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .familyMember{
        font-size: 15px;
        padding: 0px;
    }

    #bioButtonOne,#bioButtonTwo,#bioButtonThree{
        font-size: 15px;
        padding: 0px;
        align-items: center;
    }

    #appearancesButton,#MentionedButton{
        font-size: 20px;
        padding: 15px;
        align-items: center;
    }

    #infoPic{
        max-width: 200px;
    }

}

